body {
  font-family: 'HelveticaNeue-Light', 'Helvetica Neue Light', 'Helvetica Neue', Helvetica, Arial, 'Lucida Grande',
    sans-serif;
  font-weight: 300;
  line-height: 1.6em;
  font-size: 1.3em;
  background:
    linear-gradient(to top, rgb(234, 179, 8), rgb(255, 237, 213), rgb(203, 213, 225));
  background-image: url(download.jpeg);


}

a {
  color: Black;
}

a:hover {
  color: Tomato;
}

input {
  font-size: 1.5em;
}

textarea {
  font-size: 0.75em;
  border: 1px solid light-grey;
}

.container {
  /* min-width: 1160px; */
  margin: auto;
  margin-top: 50px;
  margin-left: 50px;
}

ul {
  padding-left: 20px;
}

.delete-recipe-link {
  color: red;
}

.editable {
  border: 1px solid black;
  padding: 20px;
}

/* #recipes-content {
  display: grid;
  grid-template-columns: 3fr 3fr;
  grid-gap: 10px;
} */

img {
  width: 200px;
  padding: 10px;
}

.li-recipe {
  padding-top: 50px;
}

.li {
  font-size: 0.3em;
}


.li-instructions {
  font-size: 15px;
}


/* Style buttons */
.deletebtn,
.savebtn,
.user1test {
  background-color: Black;
  /* Black background */
  border: none;
  /* Remove borders */
  color: white;
  /* White text */
  padding: 5px 5px;
  /* Some padding */
  font-size: 10px;
  /* Set a font size */
  cursor: pointer;
  /* Mouse pointer on hover */
}

/* Darker background on mouse-over */
.deletebtn:hover,
.savebtn:hover {
  background-color: Tomato;
}



/* The switch - the box around the slider
.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

/* Hide default HTML checkbox
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider 
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #2196F3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders 
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}