body {
  font-family: 'HelveticaNeue-Light', 'Helvetica Neue Light', 'Helvetica Neue', Helvetica, Arial, 'Lucida Grande',
    sans-serif;
  font-weight: 300;
  line-height: 1.6em;
  font-size: 1.3em;
}

a {
  color: Black;
}

a:hover {
  color: Tomato;
}

input {
  font-size: 1.5em;
}

textarea {
  font-size: 0.75em;
  border: 1px solid light-grey;
}

.container {
  width: 960px;
  margin: auto;
  margin-top: 50px;
}

ul {
  padding-left: 20px;
}

.delete-recipe-link {
  color: red;
}

.editable {
  border: 1px solid black;
  padding: 20px;
}

#recipes-content {
  display: grid;
  grid-template-columns: 3fr 3fr;
  grid-gap: 10px;
}

img {
  width: 200px;
  padding: 10px;
}

.li-recipe{
 padding-top: 50px; 
}





/* Style buttons */
.deletebtn, .savebtn {
  background-color: Black; /* Black background */
  border: none; /* Remove borders */
  color: white; /* White text */
  padding: 5px 5px; /* Some padding */
  font-size: 10px; /* Set a font size */
  cursor: pointer; /* Mouse pointer on hover */
}

/* Darker background on mouse-over */
.deletebtn:hover, .savebtn:hover {
  background-color: Tomato;
}